{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    ["styled-jsx/babel", {
// // Uncomment line below to toggle compile error
//        "sourceMaps": false
    }]
  ]
}